@if (recipe) {
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button [routerLink]="['/home']"></ion-back-button>
      </ion-buttons>
      <ion-title>{{ recipe.title }} Recipe</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <ion-row class="ion-padding ion-align-items-center">
      <div class="recipe-wrapper">
          <div class="recipe-meta-overlay">
            <img ngSrc="{{recipe.image}}" alt="Photo of tasty {{recipe.title}}" width="556" height="370">
           <h1>{{recipe.title}}</h1>
            <div>
              <ion-chip color="tertiary">
                <ion-icon name="time-outline"></ion-icon>
                <ion-label>{{ recipe.readyInMinutes }} mins</ion-label>
              </ion-chip>
              <ion-chip color="tertiary">
                <ion-icon name="people-outline"></ion-icon>
                <ion-label>{{ recipe.servings }} servings</ion-label>
              </ion-chip>
              <div class="diet-preferences">
                @if (recipe.diets) {
                  <span>Diet: </span>
                  @for (diet of recipe.diets; track $index){
                    <ion-chip color="tertiary">
                      <ion-icon [name]="getDietIcon(diet)"></ion-icon>
                      <ion-label>{{ diet }}</ion-label>
                    </ion-chip>
                  }
                }
              </div>
            </div>
          </div>
          <div>
            <h2>Ingredients:</h2>
            <ion-row class="ion-justify-content-center ion-align-items-end">
            @for (ingredient of recipe.extendedIngredients; track ingredient.id) {
              <ion-col size="6" size-md="4" size-lg="3">
                <h5>{{ ingredient.original }}</h5>
                <img ngSrc="https://img.spoonacular.com/ingredients_100x100/{{ingredient.image}}" width="100"
                     height="100">
              </ion-col>
            }
            </ion-row>
            <div class="steps-container">
              <h2><b>Instructions:</b></h2>
              <ol>
                @for (step of recipe.analyzedInstructions[0].steps; track $index) {
                  <li>{{step.step}}</li>
                }
              </ol>
            </div>
          </div>
      </div>
    </ion-row>
  </ion-content>
} @else {
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button [routerLink]="['/home']"></ion-back-button>
      </ion-buttons>
      <ion-title>No content</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <h1>Sorry something went wrong</h1>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
}
