.recipe-wrapper {
  text-align: center;
}

.steps-container {
  text-align: left;
}

.diet-preferences {
  text-transform: uppercase;
  font-width: bold;
}

.ingredients-lis {
  padding: 0;
  list-style: none;
}
