<app-header title="Favorites" [showBackButton]="true" ></app-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row class="ion-justify-content-center" >
      @if (recipes.length) {
        <ion-col size="12">
          <p>We found <b>{{ recipes.length }}</b> recipes</p>
        </ion-col>
      }
      @for (recipe of recipes; track recipe.id) {
        <ion-col class="favorite-item" size="12" size-md="6" size-lg="4">
          <app-recipe-card
            [id]="recipe.id"
            [title]="recipe.title"
            [image]="recipe.image">
          </app-recipe-card>
          <ion-button class="favorite-button" (click)="removeFromFavorites(recipe.id)">
            <ion-icon slot="start" name="heart-dislike-outline"></ion-icon>
            Remove
          </ion-button>
        </ion-col>
      } @empty {
        <ion-col size="12">
          <p>No favorites, yet (,</p>
        </ion-col>
      }
    </ion-row>
  </ion-grid>
</ion-content>
