#container {
  text-align: center;
  margin-top: 10px;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

.ion-padding {
  margin-top: 20px;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

ion-item {
  margin-bottom: 15px;
  overflow: visible;
}

@media (min-width: 768px) {
  .buttons-container {
    flex-direction: row;
    align-items: center;
    margin-top: -15px;
  }
}

.toolbar-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 0.5rem;
}
