<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      G00473376
    </ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/favorites']">
        <ion-icon slot="icon-only" name="heart"></ion-icon>
      </ion-button>
      <ion-button [routerLink]="['/settings']">
        <ion-icon slot="icon-only" name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <ion-toolbar>
      <ion-title size="large">
        <ion-item lines="none">
          <ion-input label="Enter Ingredients" placeholder="Ingredients"></ion-input>
        </ion-item>
      </ion-title>
    </ion-toolbar>
    <ion-button expand="full" (click)="getRecipesData()">Search</ion-button>
  </div>

  <div id="container">
    @for (recipe of recipes.results; track recipe.id) {
      <app-recipe-card
        [id]="recipe.id"
        [title]="recipe.title"
        [image]="recipe.image">
      </app-recipe-card>
    } @empty {
      <p>Search for ingredients to see results.</p>
    }
  </div>
</ion-content>
